# Enable the rewrite engine
RewriteEngine On

# Set the base URL for all subsequent rewrite rules
RewriteBase /book-store/public

# If the requested resource is not a directory
RewriteCond %{REQUEST_FILENAME} !-d

# If the requested resource is not a file
RewriteCond %{REQUEST_FILENAME} !-f

# Rewrite all other requests to index.php, appending query string parameters and marking this as the last rule
RewriteRule ^(.+)$ index.php [QSA,L]